@charset "UTF-8";
@font-face {
  font-family: 'Manrope-Regular';
  font-weight: 400;
  font-style: normal;
  src: local("Manrope-Regular"), url("../fonts/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Manrope-Medium';
  font-weight: 500;
  font-style: normal;
  src: local("Manrope-Medium"), url("../fonts/Manrope-Medium.woff2") format("woff2"), url("../fonts/Manrope-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Manrope-SemiBold';
  font-weight: 600;
  font-style: normal;
  src: local("Manrope-SemiBold"), url("../fonts/Manrope-SemiBold.woff2") format("woff2"), url("../fonts/Manrope-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Manrope-Bold';
  font-weight: 700;
  font-style: normal;
  src: local("Manrope-Bold"), url("../fonts/Manrope-Bold.woff2") format("woff2"), url("../fonts/Manrope-Bold.woff") format("woff");
  font-display: swap;
}

.breadcrumbs__link, .slider__subtitle, .review-slider__text, .about__text, .breadcrumbs-delivery__text, .delivery-accordeon__box .delivery-accordeon__body, .breadcrumbs-return__text, .product-main__provider, .product-main__text, .product-description__box {
  font-family: "Manrope-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body, a, input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder, .btn, .discount__heading, .discount__price-old, .delivery-accordeon__box .delivery-accordeon__label, .category-main__price-from, .category-main__price-to, .product-main .jq-number__field input, .footer-bottom__copyright, .footer-bottom__created {
  font-family: "Manrope-Medium", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body, a, input:-ms-input-placeholder,
textarea:-ms-input-placeholder, .btn, .discount__heading, .discount__price-old, .delivery-accordeon__box .delivery-accordeon__label, .category-main__price-from, .category-main__price-to, .product-main .jq-number__field input, .footer-bottom__copyright, .footer-bottom__created {
  font-family: "Manrope-Medium", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body, a, input::-ms-input-placeholder,
textarea::-ms-input-placeholder, .btn, .discount__heading, .discount__price-old, .delivery-accordeon__box .delivery-accordeon__label, .category-main__price-from, .category-main__price-to, .product-main .jq-number__field input, .footer-bottom__copyright, .footer-bottom__created {
  font-family: "Manrope-Medium", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body, a, input::placeholder,
textarea::placeholder, .btn, .discount__heading, .discount__price-old, .delivery-accordeon__box .delivery-accordeon__label, .category-main__price-from, .category-main__price-to, .product-main .jq-number__field input, .footer-bottom__copyright, .footer-bottom__created {
  font-family: "Manrope-Medium", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.nav .title, .title, .return__heading, .product-main__price {
  font-family: "Manrope-SemiBold", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.price-new, .breadcrumbs-title, .slider__title, .discount__price-new, .review-slider__name, .category-main__title, .error__title {
  font-family: "Manrope-Bold", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider .slick-arrow, .review-slider .slick-arrow {
  position: absolute;
  background: #fff;
  border: 1px solid #d1d1d3;
  width: 52px;
  height: 52px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

.index {
  height: 100vh;
  width: 100%;
  background: linear-gradient(149deg, #18bb9c 0%, #6a39af 42%, #bb1894 72%, #733586 100%);
  -webkit-animation: gradient 10s infinite linear;
          animation: gradient 10s infinite linear;
  background-size: 500%;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 80% 0%;
  }
  50% {
    background-position: 20% 100%;
  }
  100% {
    background-position: 80% 0%;
  }
}

@keyframes gradient {
  0% {
    background-position: 80% 0%;
  }
  50% {
    background-position: 20% 100%;
  }
  100% {
    background-position: 80% 0%;
  }
}

.start-page {
  height: 100vh;
}

.start-page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.start-page__link + .start-page__link {
  margin-top: 20px;
}

.start-page__link {
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  text-align: center;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

body .open-popup {
  margin: auto;
  color: #000;
}

/* Важная часть */
.popup__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.popup__bg.active {
  opacity: 1;
  pointer-events: all;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  background: #fff;
  width: 400px;
  padding: 25px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.popup.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

/* Конец важной части */
/* Далее код для стилизации формы */
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.popup label {
  width: 100%;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.popup .label__text {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: #cfd0d3;
  margin-bottom: 5px;
}

.popup input {
  height: 45px;
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 1px solid #cfd0d3;
}

.popup input:focus {
  border-bottom: 1px solid #2982ff;
}

.popup input:focus + .label__text {
  color: #2982ff;
}

.popup textarea {
  resize: none;
  width: 100%;
  height: 150px;
  border: none;
  outline: none;
  border-bottom: 1px solid #cfd0d3;
  font-size: 18px;
  padding-top: 5px;
}

.popup textarea:focus {
  border-bottom: 1px solid #2982ff;
}

.popup textarea:focus + .label__text {
  color: #2982ff;
}

.popup button {
  width: 100%;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 18px;
  border: 2px solid #2982ff;
  background: #2982ff;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.popup button:hover {
  background: #fff;
  color: #2982ff;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

body,
html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 16px;
  line-height: 24px;
}

a {
  font-size: 16px;
  line-height: 150%;
  color: #e8e9ea;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 136%;
  color: #8b8d92;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-size: 18px;
  line-height: 136%;
  color: #8b8d92;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-size: 18px;
  line-height: 136%;
  color: #8b8d92;
}

input::placeholder,
textarea::placeholder {
  font-size: 18px;
  line-height: 136%;
  color: #8b8d92;
}

.btn {
  padding: 12px 24px;
  background: #fcec41;
  font-size: 18px;
  line-height: 136%;
  color: #171b24;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.btn:hover {
  background: #2f323a;
  color: #d1d1d3;
}

.nav {
  margin-bottom: 16px;
}

.nav .title {
  font-size: 34px;
  line-height: 130%;
  color: #2f323a;
}

.nav .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 16px 12px 24px;
  gap: 8px;
  font-size: 18px;
  line-height: 136%;
  color: #171b24;
  background: #ffffff;
  border: 1px solid #d1d1d3;
}

.price-new {
  font-size: 20px;
  line-height: 140%;
  color: #171b24;
}

.title {
  font-size: 34px;
  line-height: 130%;
  color: #2f323a;
}

.slick-arrow {
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.slick-arrow:hover {
  background: #2f323a;
  border-color: #2f323a;
}

.slick-arrow:hover path:first-child {
  fill: #fff;
  stroke: #fff;
}

.slick-arrow:hover path:nth-child(2) {
  stroke: #fff;
}

.breadcrumbs {
  max-width: 1360px;
  margin: 0 auto;
  padding: 40px 0;
}

.breadcrumbs__wrapper {
  padding-top: 40px;
}

.breadcrumbs__inner {
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs__item {
  position: relative;
}

.breadcrumbs__item::after {
  position: absolute;
  content: "→";
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -21px;
}

.breadcrumbs__item:last-child::after {
  content: none;
}

.breadcrumbs__link {
  color: #454950;
}

.breadcrumbs-title {
  font-size: 48px;
  line-height: 120%;
  color: #171b24;
}

.header-top {
  padding: 10px 0px;
  background: #f6f6f6;
}

.header-top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 8px;
  font-size: 15px;
  line-height: 145%;
  color: #5d6066;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header-top__location:hover {
  color: #2f323a;
}

.header-top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  gap: 0 24px;
}

.header-top__link {
  font-size: 15px;
  line-height: 145%;
  color: #5d6066;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header-top__link:hover {
  color: #2f323a;
}

.header-middle {
  padding: 16px 0;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  right: 0;
  width: 100%;
}

.header-middle__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-middle__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 20px;
  gap: 8px;
  background: #fcec41;
  font-weight: 500;
  font-size: 18px;
  line-height: 136%;
  color: #171b24;
}

.header-middle__button {
  position: relative;
  width: 24px;
  height: 24px;
}

.header-middle__button span {
  position: absolute;
  display: block;
  top: 4px;
  left: 4px;
  height: 2px;
  background: #2f323a;
  border-radius: 2px;
}

.header-middle__button span:nth-child(1) {
  width: 10px;
}

.header-middle__button span:nth-child(2),
.header-middle__button span:nth-child(3) {
  width: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header-middle__button span:last-child {
  width: 10px;
  z-index: 3;
  top: 75%;
}

.header-middle__btn--active {
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.header-middle__btn--active .header-middle__button span:nth-child(1) {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header-middle__btn--active .header-middle__button span:last-child {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.header-middle__btn--active .header-middle__button span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header-middle__btn--active .header-middle__button span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header-middle__form {
  width: 444px;
}

.header-middle__container {
  width: 100%;
  position: relative;
}

.header-middle__container .header-middle__search {
  position: absolute;
  z-index: 10;
  width: 24px;
  height: 24px;
  top: 14px;
  right: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header-middle__input {
  width: 100%;
  background: #f6f6f6;
  border: 1px solid #d1d1d3;
  padding: 12px 16px;
  padding-right: 44px;
}

.header-middle__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-middle__link {
  width: 82px;
  text-align: center;
  font-size: 15px;
  line-height: 145%;
  color: #454950;
}

.header-middle__link img {
  margin: 0 auto 2px;
  margin-bottom: 2px;
}

.header-nav {
  border-top: 1px solid #E8E9EA;
  border-bottom: 1px solid #E8E9EA;
  padding: 10px 0;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__link {
  color: #454950;
}

.slider {
  max-width: 1360px;
  margin: 0 auto;
  padding: 40px 0;
}

.slider__item, .slider__card {
  width: 100%;
}

.slider__card {
  background-repeat: no-repeat;
  background-position: center;
}

.slider__inner {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 420px;
}

.slider__title {
  max-width: 570px;
  font-size: 48px;
  line-height: 120%;
  color: #171b24;
  margin-bottom: 20px;
}

.slider__subtitle {
  max-width: 278px;
  display: inline-block;
  font-size: 20px;
  line-height: 140%;
  color: #454950;
}

.slider__subtitle--second {
  max-width: 570px;
}

.slider__more {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 18px;
  line-height: 136%;
  color: #171b24;
  padding: 12px 24px;
  background: #fcec41;
  margin-top: auto;
}

.slider .slick-arrow {
  bottom: 80px;
  right: 94px;
}

.slider .slick-prev.slick-arrow {
  right: 158px;
  z-index: 1;
}

.discount {
  padding: 40px 0px;
}

.discount__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px 16px;
}

.discount__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e8e9ea;
  max-width: 557px;
  position: relative;
}

.discount__card .discount__span {
  position: absolute;
  top: 16px;
  left: 16px;
}

.discount__img {
  width: 278px;
  height: 208px;
  -o-object-fit: cover;
     object-fit: cover;
}

.discount__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px;
}

.discount__heading {
  color: #2f323a;
}

.discount__span {
  padding: 4px 8px;
  background: #fff;
  border: 2px solid #fbe303;
  font-size: 15px;
  line-height: 145%;
  color: #171b24;
}

.discount__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
  gap: 0 8px;
  margin-top: auto;
}

.discount__price-new {
  font-size: 20px;
  line-height: 140%;
  color: #171b24;
}

.discount__price-old {
  font-size: 16px;
  line-height: 150%;
  color: #8b8d92;
}

.discount__cart {
  width: 100%;
}

.category {
  padding: 40px 0;
}

.category__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px 0px;
}

.category__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  background: #f6f6f6;
  max-width: 180px;
  min-height: 180px;
  padding-top: 12px;
  overflow: hidden;
}

.category__item:hover {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: #fcec41;
}

.category__item:hover .category__img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.category__heading {
  font-size: 18px;
  line-height: 136%;
  color: #2f323a;
}

.category__img {
  width: 180px;
  height: 128px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.product {
  padding: 40px 0;
}

.product__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px 0px;
}

.product__card {
  max-width: 278px;
  min-height: 416px;
  border: 1px solid #e8e9ea;
}

.product__img {
  width: 278px;
  height: 208px;
  -o-object-fit: cover;
     object-fit: cover;
}

.product__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px;
  min-height: calc(416px - 208px);
}

.product__caption {
  color: #2f323a;
}

.product__price {
  margin: auto 0 16px;
}

.product__btn {
  width: 100%;
  text-align: center;
}

.brands {
  padding: 40px 0;
}

.brands__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px 0;
}

.brands__link {
  max-width: 180px;
  border: 1px solid #e8e9ea;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.brands__link:hover {
  border: 1px solid #5d6066;
}

.brands__img {
  width: 180px;
  height: 124px;
  -o-object-fit: cover;
     object-fit: cover;
}

.review {
  padding: 40px 0;
  background: #f6f6f6;
}

.review-slider__item, .review-slider__card {
  max-width: 376px;
}

.review-slider__item {
  min-height: 365px;
  background: #fff;
  padding: 24px;
  border: 1px solid #e8e9ea;
  color: #2f323a;
  margin: 0 6px;
}

.review-slider__box {
  background: url("../img/icons/blockquote.svg");
  background-repeat: no-repeat;
  background-position: right top;
}

.review-slider__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 12px;
  margin-bottom: 12px;
}

.review-slider__name {
  font-size: 18px;
  line-height: 136%;
}

.review-slider__text {
  margin-bottom: 15px;
}

.review-slider__date {
  font-size: 15px;
  line-height: 145%;
  color: #8b8d92;
}

.review-slider .slick-arrow {
  top: -68px;
  right: 0px;
}

.review-slider .slick-prev.slick-arrow {
  right: 64px;
}

.about {
  padding: 40px 0;
  max-width: 1360px;
  margin: 0 auto;
}

.about__wrapper {
  background: url("../img/about-bg.png");
  background-repeat: no-repeat;
  background-position: center;
}

.about__inner {
  max-width: 670px;
  padding: 88px 0 88px 98px;
}

.about__title {
  margin-bottom: 16px;
}

.about__text {
  color: #2f323a;
}

.about__text + .about__text {
  margin-top: 30px;
}

.breadcrumbs__inner {
  background-image: url("../img/breadcrumbs-brands.png");
}

.breadcrumbs__wrapper {
  padding-bottom: 90px;
}

.breadcrumbs__item + .breadcrumbs__item {
  margin-left: 25px;
}

.brands-filter {
  padding: 40px 0;
}

.brands-filter__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px 8px;
}

.brands-filter__link {
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 4px 8px;
  background: #fff;
  border: 1px solid #d1d1d3;
  font-size: 18px;
  line-height: 136%;
  color: #171b24;
}

.brands-filter__link--active {
  background: #fbe303;
  border-color: #fbe303;
}

.breadcrumbs-delivery__title {
  margin-bottom: 20px;
}

.breadcrumbs-delivery__text {
  max-width: 520px;
  font-size: 20px;
  line-height: 150%;
  color: #2f323a;
}

.breadcrumbs-delivery__wrapper {
  padding-bottom: 60px;
}

.delivery-step {
  padding: 40px 0;
}

.delivery-step__heading {
  margin-bottom: 32px;
}

.delivery-step__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 16px;
}

.delivery-step__item {
  max-width: 278px;
  min-height: 140px;
}

.delivery-step__img {
  margin-bottom: 12px;
}

.delivery-step__description {
  color: #2f323a;
}

.delivery-accordeon {
  padding: 40px 0 80px;
}

.delivery-accordeon__inner {
  border: 1px solid #d1d1d3;
}

.delivery-accordeon__wrapper {
  padding: 80px 0;
  max-width: 768px;
  margin: 0 auto;
}

.delivery-accordeon .title {
  margin-bottom: 20px;
}

.delivery-accordeon__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px 0;
}

.delivery-accordeon__box .delivery-accordeon__body {
  width: 100%;
  margin: 0 auto;
  height: 0;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: color 0.5s, padding 0.5s;
  transition: color 0.5s, padding 0.5s;
  overflow: hidden;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 16px;
  line-height: 150%;
  color: #2f323a;
  background: #f6f6f6;
}

.delivery-accordeon__box .delivery-accordeon__label {
  cursor: pointer;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 100;
  -webkit-transition: color 0.35s;
  transition: color 0.35s;
  background: #f6f6f6;
  padding: 16px 20px;
  font-size: 18px;
  line-height: 136%;
  color: #2f323a;
}

.delivery-accordeon__box .delivery-accordeon__input {
  display: none;
}

.delivery-accordeon__box .delivery-accordeon__label:before {
  float: right;
  content: url("../img/icons/arrow-down.svg");
  -webkit-transition: -webkit-transform 0.35s ease-in-out;
  transition: -webkit-transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
}

.delivery-accordeon__box .delivery-accordeon__input:checked + .delivery-accordeon__label {
  background: #f6f6f6;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.delivery-accordeon__box .delivery-accordeon__input:checked + .delivery-accordeon__label:before {
  -webkit-transition: -webkit-transform 0.35s ease-in-out;
  transition: -webkit-transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.delivery-accordeon__box .delivery-accordeon__input:checked + .delivery-accordeon__label + .delivery-accordeon__body {
  height: auto;
  margin-top: -12px;
  margin-bottom: -12px;
  padding: 16px 20px;
}

.breadcrumbs-return__wrapper {
  padding: 0;
  padding-top: 40px;
  padding-bottom: 60px;
}

.breadcrumbs-return__title {
  margin-bottom: 20px;
}

.breadcrumbs-return__text {
  max-width: 520px;
  font-size: 20px;
  line-height: 150%;
  color: #2f323a;
}

.return {
  padding: 40px 0 80px;
}

.return__row + .return__row {
  margin-top: 80px;
}

.return__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.return__heading {
  width: 376px;
  font-size: 34px;
  line-height: 130%;
  color: #2f323a;
  margin-right: 16px;
}

.return__item {
  max-width: 768px;
}

.return__text {
  color: #2f323a;
}

.return__text + .return__text {
  margin-top: 20px;
}

.breadcrumbs-category__inner {
  background-image: none;
}

.breadcrumbs-category__wrapper {
  padding: 0;
}

.category-main {
  padding-bottom: 80px;
}

.category-main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.category-main__filter {
  width: 278px;
  padding: 16px;
  border: 1px solid #e8e9ea;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.category-main__item + .category-main__item {
  margin-top: 32px;
}

.category-main__title {
  font-size: 18px;
  line-height: 136%;
  color: #171b24;
  margin-bottom: 12px;
}

.category-main .irs--flat .irs-line {
  top: 25px;
  background: #e8e9ea;
  height: 8px;
  border-radius: 0px;
}

.category-main .irs--flat .irs-bar {
  top: 25px;
  background: #8b8d92;
  height: 8px;
}

.category-main .irs--flat .irs-handle {
  top: 19px;
  width: 20px;
  height: 20px;
  background: url("../img/icons/range-arrow.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.category-main .irs--flat .irs-handle > i {
  display: none;
}

.category-main .irs--flat .irs-min,
.category-main .irs--flat .irs-max {
  display: none;
}

.category-main .irs--flat .irs-from,
.category-main .irs--flat .irs-to,
.category-main .irs--flat .irs-single {
  display: none;
}

.category-main__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 12px;
  margin-bottom: 12px;
}

.category-main__price-from, .category-main__price-to {
  max-width: 100%;
  width: 100%;
  padding: 12px 16px;
  background: #f6f6f6;
  border-bottom: 1px solid #d1d1d3;
  font-size: 18px;
  line-height: 136%;
  color: #8b8d92;
}

.category-main__search {
  max-width: 100%;
  width: 100%;
  position: relative;
  margin-bottom: 12px;
}

.category-main__search .category-main__search-btn {
  position: absolute;
  top: 0;
  right: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.category-main__input {
  max-width: 100%;
  width: 100%;
  padding: 12px 45px 12px 16px;
  border: none;
  background: #f6f6f6;
  border-bottom: 1px solid #d1d1d3;
}

.category-main__container {
  height: 204px;
  overflow: hidden;
  position: relative;
  margin-bottom: 12px;
  overflow-y: scroll;
}

.category-main__checkbox + .category-main__checkbox {
  margin-top: 12px;
}

.category-main__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2f323a;
}

.category-main__checkbox .checkbox {
  margin-right: 8px;
}

.category-main__checkbox input {
  position: absolute;
}

.category-main .checkbox {
  position: relative;
  width: 24px;
  height: 24px;
  background: #fff;
  border: 2px solid #454950;
  width: 21px;
  height: 21px;
  border-radius: 3px;
}

.category-main .checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  display: none;
}

.category-main__checkbox input:checked ~ .checkbox .checkmark {
  display: block;
}

.category-main__checkbox input:checked ~ .checkbox {
  background: #fff;
}

.category-main .dropdown {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 50px;
}

.category-main .dropdown::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 2px;
  background: #555;
  z-index: 10;
  right: 28px;
  top: 25px;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.category-main .dropdown::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 2px;
  background: #555;
  z-index: 10;
  right: 20px;
  top: 25px;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.category-main .dropdown.active::before {
  right: 20px;
}

.category-main .dropdown.active::after {
  right: 28px;
}

.category-main .dropdown input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 0px;
  outline: none;
  border: none;
  padding: 12px 12px 12px 16px;
  border: none;
  background: #f6f6f6;
  border-bottom: 1px solid #d1d1d3;
  font-weight: 500;
  font-size: 18px;
  line-height: 136%;
  color: #8b8d92;
}

.category-main .dropdown .option {
  position: absolute;
  width: 100%;
  background: #fff;
  top: 70px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.category-main .dropdown .option div {
  padding: 12px 20px;
  cursor: pointer;
}

.category-main .dropdown .option div:hover {
  background: #62baea;
  color: #fff;
}

.category-main .dropdown.active .option {
  opacity: 1;
  visibility: visible;
}

.category-main__apply, .category-main__reset {
  width: 100%;
}

.category-main__apply {
  margin: 32px 0 12px 0;
}

.category-main__reset {
  color: #171b24;
  background: #fff;
  border: 1px solid #d1d1d3;
}

.category-main__content {
  max-width: 866px;
  width: 100%;
  margin-left: 16px;
}

.category-main__nav {
  margin-bottom: 16px;
}

.category-main__nav-link + .category-main__nav-link {
  margin-left: 20px;
}

.category-main__nav-link {
  color: #8b8d92;
}

.category-main__nav-link--active {
  color: #171b24;
}

.category-main__catalog {
  max-width: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}

.category-main__card {
  max-width: 278px;
  min-height: 416px;
}

.category-main__pagination, .category-main__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category-main__arrow {
  width: 52px;
  height: 52px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border: 1px solid #e8e9ea;
}

.category-main__items {
  background: #fff;
  width: 52px;
  height: 52px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border: 1px solid #e8e9ea;
}

.category-main__link {
  padding: 14px;
  font-size: 18px;
  line-height: 136%;
  color: #2f323a;
}

.breadcrumbs-product__inner {
  background-image: none;
}

.breadcrumbs-product__wrapper {
  padding: 0;
}

.product-main {
  margin-bottom: 40px;
}

.product-main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #e8e9ea;
}

.product-main__images {
  max-width: 572px;
  min-height: 428px;
}

.product-main__img {
  width: 572px;
  height: 428px;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-main__info {
  max-width: 588px;
  width: 100%;
  padding: 24px;
  border-left: 1px solid #e8e9ea;
}

.product-main__title {
  margin-bottom: 12px;
}

.product-main__available {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px 5px;
  font-size: 15px;
  line-height: 145%;
  color: #3baa35;
  margin-bottom: 12px;
}

.product-main__price {
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 24px;
}

.product-main__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 12px;
  margin-bottom: 35px;
}

.product-main__cart {
  padding: 12px 80px;
}

.product-main .jq-number {
  width: 144px;
  height: 48px;
  position: relative;
  vertical-align: middle;
  padding: 0px;
}

.product-main .jq-number__spin {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 48px;
  border: 1px solid #d1d1d3;
  border-radius: 0px;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-shadow: none;
  cursor: pointer;
}

.product-main .jq-number__spin.plus {
  left: 0;
  background: url("../img/icons/plus.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.product-main .jq-number__spin:after {
  display: none;
}

.product-main .jq-number__spin.minus {
  background: url("../img/icons/minus.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.product-main .jq-number__field {
  width: 48px;
  border: 1px solid #d1d1d3;
  border-left: none;
  border-right: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.product-main .jq-number__field input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  height: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 136%;
  color: #171b24;
}

.product-main__provider {
  color: #454950;
  margin-bottom: 12px;
}

.product-main__text {
  color: #454950;
  padding-left: 36px;
  position: relative;
}

.product-main__text::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  background: url("../img/icons/delivery.svg");
}

.product-description {
  margin-bottom: 80px;
}

.product-description__inner {
  border: 1px solid #e8e9ea;
  border-radius: 10px;
  padding: 60px 200px;
}

.product-description__title {
  margin-bottom: 20px;
}

.product-description__box + .product-description__box {
  margin-top: 20px;
}

.product-description__span {
  display: block;
}

.product-description__box {
  font-size: 16px;
  line-height: 150%;
  color: #2f323a;
}

.product-duplicate {
  padding-bottom: 80px;
}

.product-duplicate__title {
  margin-bottom: 20px;
}

.product-duplicate__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 16px;
}

.error {
  padding: 80px 0;
}

.error__inner {
  max-width: 580px;
  border: 1px solid #d1d1d3;
  margin: 0 auto;
  padding: 36px;
  text-align: center;
}

.error__title {
  font-size: 48px;
  line-height: 120%;
  color: #171b24;
  margin-bottom: 8px;
}

.error__text {
  margin: 8px 0 24px;
}

.error__back {
  display: inline-block;
}

.footer {
  background: #2f323a;
  padding: 40px 0 20px;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px;
}

.footer-nav__box {
  max-width: 278px;
}

.footer-nav__logo {
  display: inline-block;
  margin-bottom: 22px;
}

.footer-nav__phone, .footer-nav__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 8px;
}

.footer-nav__phone {
  margin-bottom: 16px;
}

.footer-nav__item + .footer-nav__item {
  margin-top: 12px;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 17px;
  border-top: 1px solid #5D6066;
}

.footer-bottom__accept {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 16px;
}

.footer-bottom__copyright, .footer-bottom__created {
  color: #d1d1d3;
}

@media (max-width: 1100px) {
  .header-nav__link {
    font-size: 15px;
  }
}

@media (max-width: 1065px) {
  .header-middle__form {
    width: 400px;
  }
}

@media (max-width: 1024px) {
  .header-middle {
    border-bottom: 1px solid #e8e9ea;
  }
  .header-middle__form {
    width: 248px;
  }
  .header-nav {
    display: none;
  }
}

@media (max-width: 885px) {
  .header-middle__btn {
    padding: 10px 15px;
    gap: 5px;
  }
  .header-middle__link {
    width: 75px;
    font-size: 14px;
  }
}

@media (max-width: 855px) {
  .header-middle__form {
    width: 225px;
  }
  .header-middle__link {
    width: 65px;
  }
}

@media (max-width: 768px) {
  .header-middle {
    padding: 10px 0 9px;
  }
  .header-middle__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px 0;
  }
  .header-middle__form {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .header-middle__btn {
    margin: 0 auto 0 10px;
  }
}

@media (max-width: 600px) {
  .header-top__list {
    gap: 0 10px;
  }
  .header-middle__link {
    display: none;
  }
  .header-middle__link:last-child {
    display: block;
  }
}

@media (max-width: 550px) {
  .header-top__item:first-child, .header-top__item:nth-child(4) {
    display: none;
  }
}

@media (max-width: 450px) {
  .header-middle__btn {
    margin: 0 auto;
    padding: 6px 10px;
    gap: 0;
    border-radius: 4px;
  }
}

@media (max-width: 420px) {
  .header-middle__btn {
    margin: 0 auto 0 0;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .logo {
    margin: 0 auto;
  }
}

@media (max-width: 405px) {
  .header-middle__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-middle__btn {
    font-size: 0;
    padding: 5px;
  }
}

@media (max-width: 375px) {
  .header-middle__link:last-child {
    font-size: 0;
    padding: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media (max-width: 360px) {
  .header-middle__btn {
    background: transparent;
    margin: 0;
  }
}

@media (max-width: 320px) {
  .header-top {
    display: none;
  }
}

@media (max-width: 1024px) {
  .footer-nav {
    gap: 0 16px;
  }
  .footer-nav__box {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .footer {
    padding: 35px 0 20px;
  }
}

@media (max-width: 885px) {
  .footer-nav {
    padding-bottom: 35px;
  }
  .footer-nav__link {
    font-size: 15px;
  }
  .footer-bottom {
    padding-bottom: 15px;
  }
}

@media (max-width: 850px) {
  .footer-nav__phone, .footer-nav__adress {
    font-size: 15px;
  }
}

@media (max-width: 805px) {
  .footer {
    padding-bottom: 15px;
  }
  .footer-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 15px 0;
  }
  .footer-nav__box {
    max-width: 375px;
    width: 100%;
  }
  .footer-nav__link {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 30px 0 24px;
  }
  .footer-nav__box:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100%;
    width: 100%;
    padding-bottom: 20px;
  }
  .footer-nav__box {
    max-width: 180px;
    width: 100%;
  }
  .footer-bottom {
    padding-top: 21px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px 0;
  }
  .footer-bottom__accept {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    max-width: 100%;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 605px) {
  .footer-nav__box {
    max-width: 170px;
    width: 100%;
  }
}

@media (max-width: 545px) {
  .footer-nav {
    gap: 15px 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-nav__box {
    max-width: 235px;
    text-align: center;
  }
}

@media (max-width: 520px) {
  .footer-nav__box {
    max-width: 200px;
  }
}

@media (max-width: 470px) {
  .footer-nav__box {
    max-width: 165px;
  }
}

@media (max-width: 445px) {
  .footer {
    padding: 25px 0;
  }
  .footer-nav__box:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-nav__phone, .footer-nav__adress {
    font-size: 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-nav__box {
    max-width: 165px;
  }
}

@media (max-width: 400px) {
  .footer-nav {
    padding-bottom: 25px;
  }
  .footer-nav__logo {
    margin-bottom: 20px;
  }
  .footer-nav__box {
    max-width: 100%;
  }
  .footer-nav__box:first-child {
    padding-bottom: 0;
  }
}

@media (max-width: 395px) {
  .footer-bottom__copyright, .footer-bottom__created {
    font-size: 15px;
  }
}

@media (max-width: 375px) {
  .footer {
    padding: 30px 0;
  }
  .footer .container {
    padding: 0;
  }
  .footer-nav__box:first-child {
    padding-bottom: 0;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding: 0 15px 20px;
    background: transparent;
    position: relative;
  }
  .footer-nav__box:first-child::after {
    position: absolute;
    content: "";
    background: #5d6066;
    height: 1px;
    width: 100%;
    left: 0;
    bottom: 0;
  }
  .footer-nav__box {
    max-width: 150px;
  }
  .footer-nav__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px 0;
    padding-bottom: 0;
  }
}

@media (max-width: 320px) {
  .footer-nav__box {
    max-width: 135px;
  }
}
/*# sourceMappingURL=style.css.map */