.index {
  height: 100vh; 
  width: 100%;
  background: linear-gradient(
    149deg,
    rgba(24, 187, 156, 1) 0%,
    rgba(106, 57, 175, 1) 42%,
    rgba(187, 24, 148, 1) 72%,
    rgba(115, 53, 134, 1) 100%
  );
  animation: gradient 10s infinite linear;
  background-size: 500%;
}
@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}
.start-page {
  //background-color: #b6cbd1;
  height: 100vh;
  &__wrapper {
    display: flex;
    flex-direction: column;
    //background-color: #43bf57;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  &__link + .start-page__link {
    margin-top: 20px;
  }
  &__link {
    //@extend %CeraPro-Medium-500;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    text-align: center;
  }
}
body {
  display: flex;
  height: 100vh;
  .open-popup {
    margin: auto;
    color: #000;
  }
}
/* Важная часть */
.popup__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0; // Скрываем фон и сам попап
  pointer-events: none; // Запрещаем ему быть целью событий
  transition: 0.5s all;
}

.popup__bg.active {
  // При добавлении класса 'active'
  opacity: 1; // Показываем фон и попап
  pointer-events: all; // Возвращаем события
  transition: 0.5s all;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0); // Центрируем и масштабируем в 0 само окно
  background: #fff;
  width: 400px;
  padding: 25px;
  transition: 0.5s all;
}

.popup.active {
  // При добавлении класса 'active'
  transform: translate(-50%, -50%) scale(1); // Так же центрируем и плавно увеличиваем
  transition: 0.5s all;
}
/* Конец важной части */
/* Далее код для стилизации формы */
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.popup label {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column-reverse;
}

.popup .label__text {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: #cfd0d3;
  margin-bottom: 5px;
}

.popup input {
  height: 45px;
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 1px solid #cfd0d3;
}

.popup input:focus {
  border-bottom: 1px solid #2982ff;
}

.popup input:focus + .label__text {
  color: #2982ff;
}

.popup textarea {
  resize: none;
  width: 100%;
  height: 150px;
  border: none;
  outline: none;
  border-bottom: 1px solid #cfd0d3;
  font-size: 18px;
  padding-top: 5px;
}

.popup textarea:focus {
  border-bottom: 1px solid #2982ff;
}

.popup textarea:focus + .label__text {
  color: #2982ff;
}

.popup button {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  border: 2px solid #2982ff;
  background: #2982ff;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s all;
}

.popup button:hover {
  background: #fff;
  color: #2982ff;
  transition: 0.5s all;
}
body,
html {
  height: 100%;
}
body {
  @extend %Manrope-Medium-500;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 24px;
}
a {
  @extend %Manrope-Medium-500;
  font-size: 16px;
  line-height: 150%;
  color: #e8e9ea;
}
.main {
  flex-grow: 1;
}
.container {
  max-width: 1160px;
  margin: 0 auto;
  //background: rgba(#000, .4);
  padding: 0 15px;
}
button {
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

input::placeholder,
textarea::placeholder {
  @extend %Manrope-Medium-500;
  font-size: 18px;
  line-height: 136%;
  color: #8b8d92;
}

.btn {
  padding: 12px 24px;
  background: #fcec41;
  @extend %Manrope-Medium-500;
  font-size: 18px;
  line-height: 136%;
  color: #171b24;
  transition: all 0.5s ease-out;
  &:hover {
    background: #2f323a;
    color: #d1d1d3;
  }
}

.nav {
  @extend %full-flex;
  margin-bottom: 16px;
  .title {
    @extend %Manrope-SemiBold-600;
    font-size: 34px;
    line-height: 130%;
    color: #2f323a;
  }
  .link {
    display: flex;
    align-items: center;
    padding: 12px 16px 12px 24px;
    gap: 8px;
    font-size: 18px;
    line-height: 136%;
    color: #171b24;
    background: #ffffff;
    border: 1px solid #d1d1d3;
  }
}

.price-new {
  @extend %Manrope-Bold-700;
  font-size: 20px;
  line-height: 140%;
  color: #171b24;
}

.title {
  @extend %Manrope-SemiBold-600;
  font-size: 34px;
  line-height: 130%;
  color: #2f323a;
}
.slick-arrow {
  transition: all 0.6s ease-in-out;
  &:hover {
    background: #2f323a;
    border-color: #2f323a;
    path:first-child {
      fill: #fff;
      stroke: #fff;
    }
    path:nth-child(2) {
      stroke: #fff;
    }
  }
}
.breadcrumbs {
  max-width: 1360px;
  margin: 0 auto;
  padding: 40px 0;
  &__wrapper {
    padding-top: 40px;
  }
  &__inner {
    background-repeat: no-repeat;
    background-position: center;
  }
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    position: relative;
    &::after {
      position: absolute;
      content: "→";
      top: 50%;
      transform: translateY(-50%);
      right: -21px;
    }
  }
  &__item:last-child::after {
    content: none;
  }
  &__link {
    @extend %Manrope-Regular-400;
    color: #454950;
  }
}
.breadcrumbs-title {
  @extend %Manrope-Bold-700;
  font-size: 48px;
  line-height: 120%;
  color: #171b24;
}
