/*@media (max-width: 1440px) {
  .about {
    //background: rgba($color: #000000, $alpha: 0.5);
  }
}
*/
@media (max-width: 1160px) {
  .discount {
    &__card {
      max-width: 550px;
    }
  }
  .product {
    &__card {
      max-width: 350px;
    }
    &__img {
      width: 350px;
    }
  }
  .brands {
    &__link {
      max-width: 170px;
    }
    &__img {
      width: 170px;
    }
  }
  .about {
    &__inner {
      padding: 40px 0 40px 75px;
    }
  }
}

@media (max-width: 1145px) {
  .discount {
    &__content {
      gap: 16px 0px;
    }
    &__card {
      max-width: 535px;
    }
    &__img {
      height: 221px;
    }
  }
  .category {
    &__item {
      max-width: 175px;
    }
    &__img {
      width: 175px;
    }
  }
  .about {
    &__wrapper {
      background-position-x: right;
    }
    &__inner {
      padding-left: 0;
      background: transparent;
    }
  }
}

@media (max-width: 1110px) {
  .discount {
    &__content {
      gap: 16px 10px;
    }
    &__card {
      max-width: 515px;
    }
  }
  .category {
    &__item {
      max-width: 170px;
    }
    &__img {
      width: 170px;
    }
  }
  .product {
    &__card {
      max-width: 330px;
    }
    &__img {
      width: 330px;
    }
  }
}

@media (max-width: 1070px) {
  .discount {
    &__content {
      gap: 16px 10px;
    }
    &__card {
      max-width: 500px;
    }
  }
  .category {
    &__item {
      max-width: 160px;
    }
    &__img {
      width: 160px;
    }
  }
  .brands {
    &__link {
      max-width: 165px;
    }
  }
}

@media (max-width: 1040px) {
  .discount {
    &__card {
      max-width: 485px;
    }
    &__img {
      width: 250px;
    }
  }
  .category {
    padding: 20px 0;
    &__item {
      max-width: 148px;
      min-height: 148px;
    }
    &__img {
      width: 148px;
      height: 106px;
    }
  }
  .product {
    &__card {
      max-width: 320px;
    }
    &__img {
      width: 320px;
    }
  }
  .brands {
    &__link {
      max-width: 155px;
    }
    &__img {
      width: 155px;
    }
  }
}

@media (max-width: 1024px) {
  .slider {
    padding: 30px 0;
    &__inner {
      min-height: 360px;
    }
    .slick-arrow {
      right: 40px;
    }
    .slick-prev.slick-arrow {
      right: 104px;
    }
  }
  .discount {
    padding: 30px 0;
    &__content {
      flex-wrap: nowrap;
      overflow: auto;
      gap: 16px;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        width: 50px;
        height: 15px;
        background: crimson;
      }
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 0px;
        width: 15px;
        height: 1px;
        background: teal;
      }
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #ececec;
        border-radius: 4px;
      }
    }
    &__card {
      white-space: normal;
      flex-direction: column;
      max-width: 278px;
      min-height: 416px;
    }
    &__img {
      width: 278px;
      height: 208px;
      object-fit: cover;
    }
    &__info {
      height: 208px;
      border-top: 1px solid #e8e9ea;
      width: 276px;
    }
    &__heading {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
  .category {
    padding: 30px 0;
    &__content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      max-width: 768px;
    }
    &__item {
      max-width: 180px;
    }
    &__img {
      width: 180px;
    }
  }
  .product {
    padding: 30px 0;
    .nav {
      margin-bottom: 20px;
    }
    &__card {
      max-width: 300px;
    }
    &__img {
      width: 300px;
    }
    &__body {
      border-top: 1px solid #e8e9ea;
    }
  }
  .brands {
    padding: 30px 0;
    &__content {
      gap: 16px 16px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }
    &__link {
      max-width: 180px;
    }
    &__img {
      width: 180px;
    }
  }
  .review {
    .container {
      padding: 0;
    }
    .nav {
      padding: 0 15px;
    }
  }
  .review-slider {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 50px;
      height: 15px;
      background: crimson;
    }
    &__item {
      padding: 20px;
    }
  }
  .about {
    &__wrapper {
      background-position: left bottom;
    }
    &__inner {
      padding: 50px 0;
      margin: 0 auto;
    }
  }
}

@media (max-width: 940px) {
  .product {
    &__card {
      max-width: 285px;
    }
    &__img {
      width: 285px;
    }
  }
  .about {
    &__wrapper {
      background-position-x: center;
    }
  }
}

@media (max-width: 900px) {
  .product {
    &__card {
      max-width: 270px;
    }
    &__img {
      width: 270px;
    }
  }
  .brands {
    padding: 25px 0;
    &__content {
      gap: 16px 16px;
      max-width: 100%;
      grid-template-columns: repeat(4, 1fr);
    }
    &__link {
      max-width: 170px;
    }
    &__img {
      width: 170px;
    }
  }
}

@media (max-width: 850px) {
  .product {
    &__card {
      max-width: 260px;
    }
    &__img {
      width: 260px;
    }
  }
}

@media (max-width: 825px) {
  .product {
    &__card {
      max-width: 250px;
    }
    &__img {
      width: 250px;
    }
  }
}

@media (max-width: 800px) {
  .product {
    &__card {
      max-width: 240px;
    }
    &__img {
      width: 240px;
    }
  }
}

@media (max-width: 768px) {
  .slider {
    &__title {
      max-width: 255px;
      font-size: 34px;
      line-height: 130%;
    }
    &__subtitle {
      max-width: 254px;
      font-size: 18px;
      line-height: 136%;
    }
    &__subtitle--second {
      max-width: 570px;
    }
  }
  .discount {
    padding: 25px 0;
  }
  .nav {
    .title {
      font-size: 26px;
    }
    .link {
      padding: 12px 24px;
    }
  }
  .category {
    padding: 25px 0;
    &__content {
      justify-items: center;
    }
    &__item {
      max-width: 165px;
    }
    &__img {
      width: 165px;
    }
  }
  .product {
    &__card {
      max-width: 350px;
      min-height: 400px;
    }
    &__img {
      width: 350px;
      object-fit: fill;
    }
    &__body {
      min-height: calc(400px - 208px);
    }
  }
  .review-slider {
    overflow: visible;
    &__item {
      padding: 20px;
    }
    .slick-arrow {
      right: 10px;
      border-radius: 4px;
    }
    .slick-prev.slick-arrow {
      right: 74px;
    }
  }
  .about {
    &__wrapper {
      background-position-x: left;
    }
    &__inner {
      padding: 40px 0;
      max-width: 465px;
    }
  }
}

@media (max-width: 745px) {
  .product {
    &__card {
      max-width: 325px;
    }
    &__img {
      width: 325px;
      object-fit: cover;
    }
  }
}

@media (max-width: 715px) {
  .category {
    &__content {
      grid-template-columns: repeat(3, 1fr);
    }
    &__item {
      max-width: 185px;
    }
    &__img {
      width: 185px;
    }
  }
}

@media (max-width: 695px) {
  .product {
    &__card {
      max-width: 310px;
    }
    &__img {
      width: 310px;
    }
  }
  .brands {
    padding: 25px 0;
    &__link {
      max-width: 165px;
    }
    &__img {
      width: 165px;
    }
  }
  .review-slider {
    &__item {
      padding: 15px;
    }
  }
}

@media (max-width: 660px) {
  .product {
    &__card {
      max-width: 295px;
    }
    &__img {
      width: 295px;
    }
  }
}

@media (max-width: 625px) {
  .product {
    &__card {
      max-width: 280px;
    }
    &__img {
      width: 280px;
    }
  }
}

@media (max-width: 600px) {
  .slider {
    &__subtitle--second {
      max-width: 470px;
    }
    .slick-arrow {
      right: 25px;
      bottom: 65px;
    }
    .slick-prev.slick-arrow {
      right: 90px;
    }
  }
  .category {
    &__item {
      max-width: 170px;
    }
    &__img {
      width: 170px;
    }
  }
  .product {
    &__card {
      max-width: 270px;
    }
    &__img {
      width: 270px;
    }
  }
  .brands {
    &__content {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .about {
    &__wrapper {
      background-position-x: center;
    }
  }
}

@media (max-width: 580px) {
  .product {
    &__card {
      max-width: 260px;
    }
    &__img {
      width: 260px;
    }
  }
}

@media (max-width: 555px) {
  .category {
    &__item {
      max-width: 160px;
      min-height: 170px;
    }
    &__img {
      width: 160px;
    }
    .nav {
      .link {
        font-size: 16px;
        border-radius: 4px;
      }
    }
  }
  .product {
    &__card {
      max-width: 250px;
    }
    &__img {
      width: 250px;
    }
  }
}

@media (max-width: 530px) {
  .product {
    &__card {
      max-width: 230px;
    }
    &__img {
      width: 230px;
    }
  }
  .brands {
    &__content {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 525px) {
  .category {
    &__content {
      display: flex;
    }
    &__item {
      max-width: 155px;
    }
    &__img {
      width: 155px;
    }
    &__heading {
      font-size: 16px;
    }
    .nav {
      .link {
        display: none;
      }
    }
  }
}

@media (max-width: 515px) {
  .category {
    &__item {
      max-width: 150px;
    }
    &__img {
      width: 150px;
    }
  }
}

@media (max-width: 490px) {
  .category {
    &__item {
      max-width: 140px;
      min-height: 150px;
    }
    &__img {
      width: 140px;
    }
  }
  .product {
    &__card {
      max-width: 215px;
    }
    &__img {
      width: 215px;
    }
  }
  .brands {
    .nav {
      .link {
        display: none;
      }
    }
    &__link {
      max-width: 135px;
    }
    &__img {
      width: 135px;
      height: 110px;
    }
  }
  .about {
    padding: 30px 0;
    &__inner {
      padding: 25px 0;
    }
  }
}

@media (max-width: 455px) {
  .category {
    &__item {
      max-width: 135px;
    }
    &__img {
      width: 135px;
    }
  }
  .product {
    &__card {
      max-width: 205px;
    }
    &__img {
      width: 205px;
    }
  }
  .brands {
    &__link {
      max-width: 130px;
    }
    &__img {
      width: 130px;
      height: 110px;
    }
  }
}

@media (max-width: 440px) {
  .category {
    &__content {
      flex-wrap: wrap;
    }
    &__item {
      max-width: 185px;
    }
    &__img {
      width: 185px;
    }
    &__heading {
      font-size: 18px;
    }
  }
  .product {
    &__card {
      max-width: 200px;
    }
    &__img {
      width: 200px;
    }
  }
  .about {
    &__wrapper {
      background-position-x: left;
    }
    &__inner {
      padding: 15px 0;
    }
  }
}

@media (max-width: 425px) {
  .product {
    &__card {
      max-width: 190px;
    }
    &__img {
      width: 190px;
      height: 190px;
    }
  }
  .brands {
    &__link {
      max-width: 120px;
    }
    &__img {
      width: 120px;
      height: 110px;
    }
  }
  .about {
    &__wrapper {
      background-position-x: center;
    }
    &__inner {
      padding: 5px 0;
    }
    &__text {
      font-size: 15px;
    }
  }
}

@media (max-width: 425px) {
  .product {
    &__card {
      max-width: 185px;
    }
    &__img {
      width: 185px;
      height: 185px;
    }
  }
}

@media (max-width: 410px) {
  .slider {
    &__inner {
      padding: 25px 0;
      min-height: 385px;
    }
  }
  .category {
    &__item {
      max-width: 175px;
    }
    &__img {
      width: 175px;
    }
  }
}

@media (max-width: 400px) {
  .product {
    &__card {
      max-width: 175px;
    }
    &__img {
      width: 175px;
    }
  }
}

@media (max-width: 375px) {
  .slider {
    padding: 20px 0;
    &__inner {
      min-height: 206px;
      padding: 20px 0;
      transition: all 0.4s ease-in-out;
    }
    &__title {
      max-width: 212px;
      font-size: 26px;
      margin-bottom: 4px;
    }
    &__subtitle {
      max-width: 186px;
      font-size: 13px;
      line-height: 145%;
    }
    &__subtitle--second {
      max-width: 245px;
    }
    &__more {
      font-size: 15px;
      line-height: 145%;
    }
    &__inner {
      position: relative;
      .slick-dots {
        position: absolute;
      }
    }
    .slick-dots {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 40px;
      right: 20px;
      gap: 0 12px;
    }
    .slick-dots li {
      font-size: 0;
      padding: 0;
      margin: 0;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #8b8d92;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
    }
    .slick-dots li.slick-active {
      background: #fcec41;
      border-radius: 50%;
    }
  }
  .discount {
    padding: 20px 0;
    &__card {
      max-width: 250px;
    }
    &__img {
      width: 250px;
    }
    &__info {
      width: 250px;
    }
  }
  .nav {
    .link {
      display: none;
    }
  }
  .category {
    &__item {
      max-width: 160px;
      min-height: 148px;
    }
    &__img {
      width: 160px;
      height: 106px;
    }
    &__heading {
      font-size: 15px;
    }
  }
  .product {
    padding: 25px 0;
    &__card {
      max-width: 170px;
      min-height: 294px;
    }
    &__body {
      min-height: calc(294px - 110px);
    }
    &__img {
      width: 170px;
      height: 110px;
    }
    &__caption {
      font-size: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
    .nav {
      margin-bottom: 16px;
    }
  }
  .brands {
    padding: 20px 0;
    &__content {
      gap: 8px;
      display: flex;
      justify-content: space-between;
    }
    &__link {
      max-width: 100px;
    }
    &__img {
      width: 100px;
      height: 66px;
    }
  }
  .review {
    padding: 40px 0 98px;
  }
  .review-slider {
    &__item {
      margin: 0;
    }
    .slick-arrow {
      bottom: -68px;
      margin-top: auto;
      left: 15px;
    }
    &__item {
      margin: 0 5px;
    }
    .slick-next.slick-arrow {
      left: 75px;
    }
  }
  .about {
    &__wrapper {
      background-image: none;
    }
    .title {
      font-size: 20px;
      line-height: 26px;
    }
    &__text {
      font-size: 14px;
    }
  }
}

@media (max-width: 360px) {
  .discount {
    &__content {
      flex-wrap: wrap;
      overflow: hidden;
      gap: 20px 0px;
    }
    &__card {
      max-width: 148px;
      min-height: 294px;
      .discount__span {
        top: 8px;
        left: 8px;
      }
    }
    &__img {
      width: 148px;
      height: 110px;
    }
    &__info {
      width: 148px;
      padding: 8px;
    }
    &__heading {
      font-size: 15px;
      line-height: 145%;
    }
  }
  .btn {
    padding: 12px 0;
  }
  .nav {
    .title {
      font-size: 20px;
    }
  }
  .category {
    &__item {
      max-width: 148px;
    }
    &__img {
      width: 148px;
    }
  }
  .product {
    padding: 20px 0;
    &__card {
      max-width: 160px;
    }
    &__img {
      width: 160px;
    }
  }
  .about {
    &__text {
      font-size: 13px;
      line-height: 19px;
    }
  }
}

@media (max-width: 320px) {
  .discount {
    &__content {
      gap: 20px 0px;
    }
    &__card {
      max-width: 130px;
      min-height: 294px;
    }
    &__img {
      width: 130px;
    }
    &__info {
      width: 130px;
    }
  }
  .btn {
    padding: 10px 0;
    font-size: 16px;
  }
  .category {
    &__item {
      max-width: 140px;
    }
    &__img {
      width: 140px;
    }
  }
  .product {
    &__card {
      max-width: 140px;
    }
    &__img {
      width: 140px;
    }
  }
  .brands {
    &__content {
      gap: 8px;
      display: flex;
      justify-content: space-between;
    }
    &__link {
      max-width: 135px;
    }
    &__img {
      width: 135px;
      height: 66px;
    }
  }
  .review {
    padding-bottom: 60px;
  }
  .review-slider {
    .slick-arrow {
      width: 32px;
      height: 32px;
      bottom: -48px;
      margin-top: auto;
    }
    .slick-next.slick-arrow {
      left: 55px;
    }
  }
}
