%Manrope-Regular-400 {
  font-family: "Manrope-Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}

%Manrope-Medium-500 {
  font-family: "Manrope-Medium", sans-serif;
  font-weight: 500;
  font-style: normal;
}

%Manrope-SemiBold-600 {
  font-family: "Manrope-SemiBold", sans-serif;
  font-weight: 600;
  font-style: normal;
}

%Manrope-Bold-700 {
  font-family: "Manrope-Bold", sans-serif;
  font-weight: 700;
  font-style: normal;
}
%full-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%slick-arrow {
  position: absolute;
  background: #fff;
  border: 1px solid #d1d1d3;
  width: 52px;
  height: 52px;
  display: grid;
  place-items: center;
}
